@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

:root {
    --primary-color: #404040;
    --off-white: #F3F4F6;
    --dark-gray: #6b7280
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0
}

.container {
    padding: 0 1rem
}

.link {
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 1rem 0
}

.link:hover {
    background-color: #155e75;
    border-radius: .4rem
}

.list-non-bullet {
    list-style: none
}

.list-item-inline {
    display: inline;
    padding: 0 .5rem
}

.navigation {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-bottom-left-radius: 1rem
}

.navigation .nav-brand {
    font-weight: 700
}

.navigation .nav-pills {
    text-align: right
}

.navigation .link {
    color: #fff
}

.navigation .link-active {
    font-weight: 700
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: #fff;
    margin-top: 6rem
}

.footer .footer-header {
    font-weight: 700;
    font-size: large
}

.footer .link {
    color: #fff
}

.card {    
    transition: all .3s ease-in-out !important;
    width: 22.5rem;    
    -webkit-box-shadow: 0 0 5px 2px rgba(176, 164, 176, 1) !important;
    -moz-box-shadow: 0 0 5px 2px rgba(176, 164, 176, 1) !important;
    box-shadow: 0 0 5px 2px rgba(176, 164, 176, 1) !important;
    transition: all .3s ease-in-out !important;        
}

.card:hover {
    box-shadow: -3px 18px 20px 0 rgba(99, 89, 99, 1) !important
}

.card-text {
    max-width: fit-content
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 4;
    flex-wrap: wrap;
    flex: 1 0 auto;
    font-family: Poppins, sans-serif
}

.card-container>div {
    margin: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.37);
}

.card-img-top {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1.4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    width: 21rem;
    padding: .7rem;
    text-align: center;
    height: 21rem
}

.card-body {
    padding: 10px
}

.card-title {
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0
}

.button {
    background-color: #22223b;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: .5rem
}

.button:hover{
    background-color: #991b1b;
}

.button>a {
    text-decoration: none;
    color: #fff
}

.button>a:hover {
    color: #fff
}